{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block title %}
    Profile Management
{% endblock %}


{% block extra_css %}

{% endblock %}


{% block content_header %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Create Profile
            </div>
            <div class="card-body">
                 {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        function show_hide_options(){
            if ($('#id_category').val() === '1') {
                $('label[for="id_certificate_no"]').parent().hide();
                $('label[for="id_certificate_issued_date"]').parent().hide();
                $('label[for="id_certificate_issued_from"]').parent().hide();
                $('label[for="id_non_creamy_layer_no"]').parent().hide();
                $('label[for="id_non_creamy_layer_date"]').parent().hide();
                $('label[for="id_certificate_given_by"]').parent().hide();
            } else if ($('#id_category').val() === '2'){
                $('label[for="id_certificate_no"]').parent().show();
                $('label[for="id_certificate_issued_date"]').parent().show();
                $('label[for="id_certificate_issued_from"]').parent().hide();
                $('label[for="id_non_creamy_layer_no"]').parent().hide();
                $('label[for="id_non_creamy_layer_date"]').parent().hide();
                $('label[for="id_certificate_given_by"]').parent().show();
            } else  if ($('#id_category').val() === '3' ){
                $('label[for="id_certificate_no"]').parent().show();
                $('label[for="id_certificate_issued_date"]').parent().show();
                $('label[for="id_certificate_issued_from"]').parent().show();
                $('label[for="id_non_creamy_layer_no"]').parent().hide();
                $('label[for="id_non_creamy_layer_date"]').parent().hide();
                $('label[for="id_certificate_given_by"]').parent().hide();
            } else if ($('#id_category').val() === '4') {
                $('label[for="id_certificate_no"]').parent().show();
                $('label[for="id_certificate_issued_date"]').parent().show();
                $('label[for="id_certificate_issued_from"]').parent().show();
                $('label[for="id_non_creamy_layer_no"]').parent().show();
                $('label[for="id_non_creamy_layer_date"]').parent().show();
                $('label[for="id_certificate_given_by"]').parent().show();
            } else  if ($('#id_category').val() === '5' ) {
                $('label[for="id_certificate_no"]').parent().show();
                $('label[for="id_certificate_issued_date"]').parent().show();
                $('label[for="id_certificate_issued_from"]').parent().show();
                $('label[for="id_non_creamy_layer_no"]').parent().hide();
                $('label[for="id_non_creamy_layer_date"]').parent().hide();
                $('label[for="id_certificate_given_by"]').parent().hide();
            }
        }
        $(document).ready(function () {
            $(document).on('submit', 'form', function (e) {
                $(this).find('button').attr('disabled', 'disabled');
            });
            show_hide_options();
        });
        $(document).on('change', '#id_category', function (e) {
            show_hide_options();
        });

    </script>

    <!-- jQuery -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.formset.js' %}"></script>

    <script>
        $('.contact_details_formset_row').formset({
            {#addText: 'Add Skill',#}
            {#addCssClass: 'btn btn-primary',#}
            {#deleteCssClass: 'btn btn-danger fa fa-trash bg-red formset-delete-btn',#}
            {#deleteText: '',#}
            {#prefix: 'skills_set',#}
            {#formCssClass: 'skill-inline-form',#}
        });
    </script>

    <script>
        function formatRepo(repo) {
            if (repo.loading) {
                return repo.text;
            }

            var $container = $(
                "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__avatar'><img src='" + repo.logo + "' /></div>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'></div>" +
                "<div class='select2-result-repository__description'></div>" +
                "</div>" +
                "</div>"
            );

            $container.find(".select2-result-repository__title").text(repo.text);
            $container.find(".select2-result-repository__description").text(repo.linkedin_url);

            return $container;
        }

        $(document).ready(function () {
            $(document).on('submit', 'form', function (e) {
                $(this).find('button').attr('disabled', 'disabled');
            });

            $('.datetimepicker-input').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false,
                buttons: {
                    showClear: true
                }
            });

        });

        $(document).on('click', '.add-new-button', function (e) {
            e.preventDefault();
            var add_button = $(this);
            var field_name = add_button.data('name');
            var form_block = add_button.data('form-block');
            var total_forms_field = $('#' + form_block + '-TOTAL-FORMS')
            var total_forms = total_forms_field.val();
            var new_form_count = parseInt(total_forms) + 1;
            var new_form_count_string = '-' + new_form_count.toString();

            $('#' + form_block + ' .select-ajax').select2('destroy');
            $('#' + form_block + ' .select-firm-details').select2('destroy');
            $('#' + form_block + ' .select-simple').select2('destroy');
            var new_added_form = $('.' + form_block + ':last').clone().appendTo('#' + form_block);
            new_added_form.attr('id', form_block + new_form_count_string);
            new_added_form.find('textarea, input, select').each(function () {
                var curr_field = $(this);
                curr_field.attr('id', curr_field.data('field-name') + new_form_count_string);
                if (field_name === 1 && $(this).attr('type') !== "hidden"){
                    curr_field.attr('name', curr_field.data('field-name') + new_form_count_string);
                }
                curr_field.val('');
            });
            new_added_form.find('#firm-counter-id' + new_form_count_string).val(new_form_count);
            new_added_form.find('.firm-formset-label').html("#" + new_form_count);
            init_select2($('#' + form_block + ' .select-ajax'));
            init_industry_select2($('#' + form_block + ' .select-firm-details'));
            $('#' + form_block + ' .select-simple').select2();

            $('.' + form_block).not('#' + form_block + new_form_count_string).each(function () {
                $(this).find('.add-new-button').addClass('remove-form-button').addClass('fa-trash').addClass('btn-danger')
                    .removeClass('fa-plus').removeClass('add-new-button').removeClass('btn-primary')
                    .attr('id', form_block + '-REMOVE-BTN' + new_form_count_string);
            });

            total_forms_field.val(new_form_count);
        });

        $(document).on('click', '.remove-form-button', function (e) {
            e.preventDefault();
            var remove_button = $(this);
            var form_block = remove_button.data('form-block');
            var total_forms_field = $('#' + form_block + '-TOTAL-FORMS');
            var total_forms = total_forms_field.val();
            var new_form_count = parseInt(total_forms) - 1;

            remove_button.closest('.' + form_block).remove();
            {#total_forms_field.val(new_form_count);#}
        });

    </script>

{% endblock %}